   <div >
  <img src="../../assets/red-brown-restaurant.jpg" alt="">
  <div class="whiteboard" >

  
   <h3>fill this blank </h3>
   <div class="inpts"  >
  <input [(ngModel)]="guestInfo.fullName"  type="text" class="form-control"  placeholder="enter your  full name" >
  <input  [(ngModel)]="guestInfo.email" type="text" class="form-control"  placeholder="enter your email" >
  <input [(ngModel)]="guestInfo.phoneNumber"  type="text" class="form-control"  placeholder="enter your  phonenumber" >
   <select [(ngModel)]="selectValue"  #guests (change)="onChange()" >
     
      <option  value="1">for one person</option>
      <option  value="2">for two people</option>
      <option  value="3">for three people</option>
      <option  value="4">four and more</option>
   </select>
   <select [(ngModel)]="selectPlace"  #guests (change)="onPlaceSelect()" >
      <option  value="1">in the corner</option>
      <option  value="2">in the center</option>
      <option  value="3">vip area</option>
   </select>
     <div  class="buttons">
     <button (click)="onInfoSave()" type="button" class="btn btn-dark">save</button>
   
     </div>
    </div>
 </div>
</div>
