div{
   position: sticky; 
}
img{
   width: 1500px;
   height: 1500px;
}
.whiteboard{
    width: 800px;
    height: 700px;

  border-radius: 20px;
  display: flex;
 margin-top: -1200px;
 margin-left: 300px;
 flex-direction: column;
}
input{
    height: 40px;
    width: 400px;
    margin-top: 50px;
    border-style:hidden;
    background-color: #ffffff;
}
h3{
    margin-left: 270px;
    margin-top: 30px;
    color:#ffffff ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

button{
    width: 250px;
    margin-left: 20px;
margin-top: 30px;
   
}

.inpts{
    margin-left: 200px;
 
    
}
select{
    margin-top: 10px;
    margin-left: 10px;
}